<h1><%= @room.name.capitalize %></h1>
<%= simple_form_for [@room, @task] do |f| %>
  <%= f.association  :activity, label: 'Action', label_method: lambda { |activity| "#{activity.name}" }%>
  <%= f.association  :product, label: 'Produits',label_method: lambda { |product| "#{product.name}" }%>
  <%= f.input :number_of_items,label: 'Nombre unitées' %>
  <%= f.association  :element, label_method: lambda { |element| "#{element.name}" }%>
  <%= f.input :m2, label: 'Mesure en m2' %>
  <%= f.input :description, label: 'Description si besoin' %>
  <%= f.button :submit, class: 'btn btn-gradient'%>
<% end %>

<div class="devis-btn">
  <%= link_to 'Actions', activities_path, class: 'button-34 hotgreen' %>
  <%= link_to 'Elements', elements_path, class: 'button-34 skyblue' %>
  <%= link_to 'Produits', products_path, class: 'button-34 orange' %>
</div>
