<h1><%= @room.name.capitalize %></h1>
<%= simple_form_for [@room, @task] do |f| %>
  <%= f.association  :activity, label_method: lambda { |activity| "#{activity.name}" }%>
  <%= f.association  :product, label_method: lambda { |product| "#{product.name}" }%>
  <%= f.association  :element, label_method: lambda { |element| "#{element.name}" }%>
  <%= f.input :number_of_items %>
  <%= f.input :m2 %>
  <%= f.button :submit, class: 'btn btn-gradient'%>
<% end %>
