<h1 style="margin:16px;">Liste clients</h1>

<div class="new-customer">
  <%= link_to 'ajouter un client', new_customer_path, class: 'btn-flat' %></div>
</div>

<ul>
  <% @customers.each do |customer| %>
    <%= link_to customer_path(customer) do %>
      <li style="margin-top: 12px;"><%= customer.first_name.capitalize%> <%= customer.last_name.capitalize%>
      <%= link_to edit_customer_path(customer)  do %>
                                <i class="fa-solid fa-pen" style=" font-size: 20px; color: green; margin-left: 16px"></i>
                              <% end %>
      <%= link_to customer_path(customer), method: :delete, data: { confirm: "Are you sure?" } do %>
                                <i class="fa-solid fa-trash" style=" font-size: 20px; color: red; margin-left: 16px"></i>
                              <% end %> </li>
    <% end %>
  <% end %>
</ul>
