<%= simple_form_for [@customer] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name%>
  <%= f.input :email%>
  <%= f.input :phone%>
  <%= f.input :address%>
  <label for="">si besoin</label>
  <%= f.input :address_2%>

  <%= f.button :submit, class: 'btn btn-gradient'%>
<% end %>
