<div class="customer-container">
<%= link_to new_quotation_path  do %>
<h1 style="text-align:center;"><%= @customer.first_name %> <%= @customer.last_name %> </h1>
<% end %>


<p><%= @customer.email %></p>
<p><%= @customer.phone %></p>
<p><%= @customer.address%></p>

<% if @customer.address_2 %>
<p><%= @customer.address_2%></p>
<% end %>


<div class="client-devis">
  <% if @customer.quotations.empty? %>
  <p>Aucun devis pour l'instant </p>
  <% end %>
  <% @customer.quotations.each do |quotation|%>
    <ul>
      <%= link_to quotation_path(quotation) do%>
        <li>devis n°<%= quotation.number %> <%= quotation.date %></li>
      <% end %>
    </ul>
  <% end %>
</div>
</div>
