<div class="customer-container">

<%= link_to new_quotation_path do %>
  <h1 style="text-align:center;"><%= @customer.first_name.capitalize%>  <%= @customer.last_name.capitalize %> </h1>

<% end %>


<p><%= @customer.email %></p>
<p><a href="tel://+33<%= @customer.phone[1..-1] %>"><%= @customer.phone.insert(2, ' ').insert(5, ' ').insert(8, ' ').insert(11, ' ')  %><a></p>
<p><%= @customer.address%></p>

<% if @customer.address_2 %>
<p><%= @customer.address_2%></p>
<% end %>


<div class="client-devis">
  <% if @customer.quotations.empty? %>
  <p>Aucun devis pour l'instant </p>
  <% end %>
  <% @customer.quotations.each do |quotation|%>
    <ul>
      <%= link_to quotation_path(quotation) do%>
        <li>devis n°<%= quotation.number %> <%= quotation.date %></li>
      <% end %>
    </ul>
  <% end %>
</div>
</div>

<div class="map-container">
  <div style="width: 88%; height: 240px; filter: drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.25)) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));"
        data-controller="mapbox"
        data-mapbox-marker-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
