<div data-controller="refresh-list">
<h1 style="margin:16px;">Tous mes Devis</h1>

<div class="quotation-new">
  <%= link_to 'nouveau devis', new_quotation_path, class: 'btn-flat'%>
</div>

<div class="search-bar" >
    <%= form_tag quotations_path, method: :get, class: 'd-flex',  data: { refresh_list_target: 'form' }  do %>
      <%= text_field_tag :query,
        params[:query],
         data: {
          refresh_list_target: 'searchInput', action: "keyup->refresh-list#update"
                    },
        class: "form-control",
        placeholder: "chercher un devis"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>




<%= render "list", quotations: @quotations %>
</div>
