<div class="pdf-container">
<div class="banner-logo-martin">
  <%# <img src="https://i.ibb.co/pZdsJy5/Capture-d-e-cran-2022-07-18-a-17-56-38.png" alt="banner" class="logo-martin" > %>
  <%= cl_image_tag @quotation.photos[0].key, class:"logo-martin", :width => 860 %>
</div>
<div class="quotation-header">
  <p style="text-decoration: underline; margin-left: 16px;"><strong><%= @quotation.date.strftime("%d/%m/%Y") %></strong></p>
</div>


<div class="quotation-customer">
  <h3 style="text-align: end;"><strong style="text-decoration: underline;"><%= @quotation.customer.first_name.parameterize.upcase %> <%= @quotation.customer.last_name.parameterize.upcase %></strong> </h3>
</div>

<div class="quotation-customer">
  <p style="text-align: end;"><%= @quotation.customer.address.split(",")[0] ? @quotation.customer.address.split(",")[0].parameterize.upcase : @quotation.customer.address.parameterize.upcase %></p>
</div>

<div class="quotation-customer">
  <p style="text-align: end;"><%= @quotation.customer.address.split(",")[1].parameterize.upcase if @quotation.customer.address.split(",")[1] %></p>
</div>


<div>
  <h4 style="text-align:center;text-decoration: underline;"><strong>DEVIS</strong></h4>
  <h4 style="text-align:center; margin-bottom: 44px;text-decoration: underline;"><strong>N <%= @quotation.number %></strong></h4>
</div>

<div class="quotation-details">
  <h6>PREPARATION</h6>
  <ul>
    <li>MISE EN PLACE CHANTIER</li>
  </ul>
  <% @quotation.rooms.each do |room|%>
    <h6><%= room.name.upcase %></h6>
    <% room.tasks.each do |task|%>

    <ul>
      <li><%= task.activity.name.parameterize.upcase %> <%= "#{task.product.name.parameterize.upcase}(S)" if task.product  %> <%= "#{task.element.name.parameterize.upcase}(S)" if task.element %> <%= "#{task.number_of_items} UNITEE(S)" if task.number_of_items  %> <%= "#{task.m2} M2" if task.m2  %>  </li>
    </ul>

    <% end %>
  <% end %>
</div>

<div>
  <p style="text-align:center;">Prix forfaitaire :  <strong><%= @quotation.total_price %></strong> Euros</p>
  <p style="text-align:center;"><strong>TVA non applicable -Article 293 B du CGI</strong></p>

</div>

<div class="signature">
  <h5 style="text-align:center; margin: 68px;text-decoration: underline;"><strong>SIGNATURE</strong></h5>
</div>


<div class="banner-logo-martin">
  <%= cl_image_tag @quotation.photos[1].key, class:"logo-martin", :width => 860  %>
</div>


</div>






<% unless action_name == 'pdf.pdf'%>
<div class="devis-btn">

   <%= link_to to_pdf_path(@quotation) do %>
    <i class="fa-solid fa-check" style="font-size: 16px; color: #000000"></i>
   <% end %>
</div>

<% end %>
