<div class="pdf-container">
<div class="banner-logo-martin">
  <%= image_tag "banner.png", class: 'logo-martin'%>
</div>
<div class="quotation-header">
  <p style="text-decoration: underline; margin-left: 16px;"><strong><%= @quotation.date.strftime("%d/%m/%Y") %></strong></p>
</div>


<div class="quotation-customer">
  <div><h3><strong style="text-decoration: underline;"><%= @quotation.customer.first_name.parameterize.capitalize %> <%= @quotation.customer.last_name.parameterize.capitalize %></strong> </h3></div>
</div>

<div class="quotation-customer">
  <div><p><%= @quotation.customer.address.split(",")[0].parameterize.upcase %></p></div>
</div>

<div class="quotation-customer">
  <div><p><%= @quotation.customer.address.split(",")[1].parameterize.upcase %></p></div>
</div>


<div>
  <h4 style="text-align:center;text-decoration: underline;"><strong>DEVIS</strong></h4>
  <h4 style="text-align:center; margin-bottom: 80px;text-decoration: underline;"><strong>N <%= @quotation.number %></strong></h4>
</div>

<div class="quotation-details">
  <h6>PREPARATION</h6>
  <ul>
    <li>MISE EN PLACE CHANTIER</li>
  </ul>
  <% @quotation.rooms.each do |room|%>
    <h6><%= room.name.upcase %></h6>
    <% room.tasks.each do |task|%>

    <ul>
      <li><%= task.activity.name.parameterize.upcase %> <%= "#{task.product.name.parameterize.upcase}(S)" if task.product  %> <%= "#{task.element.name.parameterize.upcase}(S)" if task.element %> <%= "#{task.number_of_items} UNITEE(S)" if task.number_of_items  %> <%= "#{task.m2} M2" if task.m2  %>  </li>
    </ul>

    <% end %>
  <% end %>
</div>

<div>
  <p style="text-align:center;">Prix forfaitaire :  <strong><%= @quotation.total_price %></strong> Euros</p>
</div>

<div class="signature">
  <h5 style="text-align:center; margin-bottom: 80px;text-decoration: underline;"><strong>SIGNATURE</strong></h5>
</div>

<div class="quotation-bottom">
<div class="quotation-bottom1">
  <div>Assurance MAAF</div>
  <div><strong style="color:black;">Martin Rudy</strong></div>
  <div>25, Rue Victor Leydet</div>
</div>

<div class="quotation-bottom2">
  <div>113396903W-MCE-002</div>
  <div>Siren : 522 240 712</div>
  <div>13100 Aix en Provence</div>
</div>
</div>
</div>





<% unless action_name == 'pdf.pdf'%>
<div class="devis-btn">

   <%= link_to "Valider", to_pdf_path(@quotation), class: 'btn-flat'%>
</div>

<% end %>
