<div class="room-collection">
  <% @quotation.rooms.each do |room| %>

    <%= link_to new_room_task_path(room), class:"button-34 green"  do %>
      <%= room.name %>
    <% end %>
  <% end %>

</div>
<div class="quotation-header">
  <h1>Devis N°<%= @quotation.number %></h1>
  <p><%= @quotation.date %></p>
</div>

<%= link_to customer_path( @quotation.customer) do %>
<div class="customer-container">
  <h3><%= @quotation.customer.first_name.capitalize %> <%= @quotation.customer.last_name.capitalize %> </h3>
  <p><%= @quotation.customer.address %></p>
</div>
<% end %>

<div class="quotation-details">
  <h5>Details</h5>
  <ul>
    <li>Mise en place chantier</li>
  </ul>
  <% @quotation.rooms.each do |room|%>
    <h6><%= room.name.capitalize %> <%= link_to room_path(room), method: :delete, data: { confirm: "Are you sure?" } do %>
                                      <i class="fa-solid fa-trash" style=" font-size: 20px; color: red; margin-left: 16px"></i>
                                    <% end %></h6>
    <% room.tasks.each do |task|%>

    <ul>
      <li><%= task.action.name.capitalize %> <%= "#{task.product.name}(s)" if task.product  %> <%= "#{task.element.name}" if task.element %> <%= "#{task.number_of_items} unitée(s)" if task.number_of_items  %> <%= "#{task.m2} m2" if task.m2  %>  <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
                                <i class="fa-solid fa-trash" style=" font-size: 20px; color: red; margin-left: 16px"></i>
                              <% end %> </li>
    </ul>

    <% end %>
  <% end %>
</div>

<div class="quotation-total">
  <p style="text-align:center;">Prix forfaitaire :  <strong><%= @quotation.total_price %></strong> Euros</p>
</div>

<p style="color: blue; font-size: 24px; font-weight: bold; text-align: center">En Test</p>
<div class="devis-btn">
  <%= link_to "Ajouter piéces",  new_quotation_room_path(@quotation), class: 'btn btn-info' %>
  <%= link_to "Editer devis",  edit_quotation_path(@quotation), class: 'btn btn-dark' %>
  <%= link_to "Supprimer devis",  quotation_path(@quotation), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
</div>

<p style="color: green; font-size: 24px; font-weight: bold; text-align: center">A venir</p>
<div class="devis-btn">
  <button class="btn btn-warning">exporter en pdf</button>
</div>
